@import url(../css/adapt.css);

@media (max-width:1280px) {
	.header {
		width: 100%;
		padding: 0 10px;
	}

	.case__private,
	.order-phone__content,
	.reiterate-img,
	.reiterate-content,
	.manual__receive,
	.manual__questions,
	.bid__depot-dox,
	.bid-xtitle,
	.bid-text,
	.double-box,
	.order-phone__content,
	.benefits__box {
		text-align: center;
		width: 100%;

	}


	.suptitle__pic,
	.suptitle__text,
	.suptitle__box,
	.suptitle,
	.step__container,
	.try__cked,
	.case__private,
	.case,
	.order-phone__manual,
	.order-pxone__reiterate-box,
	.step__text,
	.order-phone {
		margin-bottom: 20px;
	}

	.fxpro__box {
		margin: 0 auto 20px auto;
	}

	.double-box {
		padding-right: 0px;
	}

	button.recevebtn {
		width: 34%;
	}

	.box-xl {
		justify-content: center;
	}

	.xxxll-img {
		display: none;
	}

	.form__button {
		width: 30.5%;
	}

	.in-img {
		margin-left: 1%;
	}
}

@media (max-width:992px) {
	.nav {
		width: 247px;
		height: 45px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}

	.nav__link:nth-child(2) {
		margin-right: 43px;
	}

	.nav__link {
		margin-bottom: 10px;
	}

	.button-top {
		border-radius: 12px;
	}

	.btn {
		font-size: 20px;
	}
}

@media (max-width:768px) {
	.header {
		display: none;
	}

	.suptitle__title-h1,
	.title-genl,
	.order-phone__title,
	.private__title {
		font-weight: bold;
		font-size: 42px;
		line-height: 1;
		color: #ffffff;
	}

	.total__box,
	.total__box-v,
	.total__box-w {
		font-weight: bold;
		font-size: 42px;
		line-height: 1;
		color: #66ce7d;
	}

	body {
		box-sizing: border-box;
		background-color: #010008;
		min-width: 320px;
		width: 100%;
		margin: 0;
		padding: 0 0 10px 0;
		border: 2px solid #e7aa19;
	}

	*, *::after, *::before {
		margin: 0;
		padding: 0;
		box-sizing: inherit;
	}

	/* !-ОТКЛЮЧИТЬ
	* {
		outline: 1px solid red;
	} */



	.header-w {
		min-width: 259px;
		width: 84%;
		height: 55px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	/*TODO-- бургер меню*/
	input {
		display: none;
	}

	label {
		cursor: pointer;
	}

	.nav-w {
		user-select: none;
		width: 46%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav__showmenu {
		position: relative;
		z-index: 3;
		display: inline-block;
		padding: 2.5px 5px 5px;
		font-size: 30px;
		color: #fff;
	}

	.nav__back {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: background-color .3s;
	}

	.menu, .menu__submenu {
		list-style: none;
		padding: 0;
		color: #fff;
		overflow: hidden;
	}

	.menu {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		display: block;
		width: 120px;
		margin: 0;
		padding: 17px 0;
		text-transform: uppercase;
		line-height: 2em;
		background-color: #2c2c2c;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transform: translateX(-100%);
		transition: transform .3s;
		will-change: transform;
		backface-visibility: hidden;
	}

	.menu__submenu {
		font-size: .8em;
		background-color: #ddd;
		max-height: 0;
		transition: max-height .3s ease-in-out;
	}

	.menu__showsub {
		position: absolute;
		right: 0;
		margin-top: -34px;
		padding: 10px;
		line-height: normal;
	}

	.menu__item {
		display: block;
		text-align: center;
		text-decoration: none;
		color: #fff;
	}

	.menu__submenu .menu__item {
		color: #000;
	}

	.nav__check:checked~.nav__back {
		background-color: rgba(0, 0, 0, .2);
		bottom: 0;
	}

	.menu__item:hover, .nav__showmenu:hover, .menu__showsub:hover {
		opacity: 0.7;
	}

	.menu::-webkit-scrollbar {
		display: none;
	}

	.nav__check:checked+.nav__showmenu {
		color: #fff;
	}

	.menu__check:checked~.menu__submenu {
		max-height: 100vh;
	}

	.menu__check:checked+.menu__showsub {
		transform: rotate(180deg);
	}

	.nav__check:checked~.menu {
		transform: translateX(0);
	}

	/*TODO---*/
	.logo {
		margin-left: 8px
	}

	.logo__link {
		height: auto display: block;
	}

	.logo__images {
		width: 76px;
	}

	.form__button {
		width: 46%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.l-button {
		width: 50px;
		height: 30px;
		background-color: #010008;
		color: #FFFFFF;
	}

	.button-top {
		font-weight: normal;
		font-size: 7px;
		line-height: 1;
		border-radius: 8px;
	}

	.r-button {
		width: 80px;
		height: 30px;
		background: linear-gradient(87.05deg, #DC6B30 17.99%, #E4864F 49.64%, #FFBE82 72.7%, #E49031 93.02%);
		border-radius: 4px;
		color: #000000;
	}

	.btn {
		width: 17em;
		height: 82px;
		border-radius: 13px;
		font-size: 16px;
		line-height: 1;
		cursor: pointer;
	}

	.questions__content {
		flex-direction: column;
	}
}

@media (max-width:576px) {
	.footer__container {
		width: 87%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.btn {
		width: 17em;
		height: 69px;
		border-radius: 13px;
		font-size: 16px;
		line-height: 1;
		cursor: pointer;
		margin-bottom: 8px;
	}

	.try__cked>p {
		display: flex;
		flex-direction: column;
	}

	.button-right {
		margin-left: 0;
	}

	.private__title>span {
		display: none;
	}

	.link-reiterate {
		font-size: 11px;

	}

	.box__bag-tool {
		width: 100%;

	}

	.suptitle__container {
		width: 96%;
	}

	.previev {
		height: max-content;
	}

	.s-text,
	.ss-text {
		letter-spacing: 0em;
	}

	.suptitle {

		background-color: #010008;
		background-image: url(../pictures/Arrow.png);
		background-repeat: no-repeat;
		background-size: 30px 154px;
		background-position: 5% 26%;

	}

	.suptitle__button>p {
		display: flex;
		flex-direction: column;
	}

	button.recevebtn {
		width: 75%;
	}

	.suptitle__img {
		display: block;
		width: 100%;
		height: 268px;
		background-image: url(../images/Ellipse61-320.png), url(../images/Wood-320.png);
		background-size: 100%, 261px 268px;
		background-repeat: no-repeat;
		background-position: 50%, right;
	}
}


@media (max-width:375px) {
	.previev__pic {
		margin: 0 10px;
		width: 40px;
	}
}