body {
  box-sizing: border-box;
  background-color: #010008;
  max-width: 1920px;
  width: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 86%;
  margin: 0 auto;
  padding-top: 40px;
}
.header {
  display: flex;
}
.form-speak {
  display: flex;
  align-items: center;
}
select-speak {
  display: block;
  white-space: pre;
  background-color: #010008;
  cursor: pointer;
  border-style: #010008;
  font-weight: normal;
  font-size: 18px;
  line-height: 0.94;
  border: none;
}
.sekecr-speak:hover {
  background-color: #006262;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.in-link {
  color: #e7aa19;
}
.nav__link {
  height: 17px;
  font-size: 18px;
  line-height: 17px;
}
.nav__link:nth-child(4) {
  color: #e7aa19;
}
.in-link {
  width: 112px;
  background-image: url(../pictures/spac-mini.png);
  background-repeat: no-repeat;
  background-position: 80% 100%;
  background-size: 20%;
}
.in-link:hover {
  transform: scale(1.2);
}
.link {
  display: block;
  background-color: #010008;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
}

.nav__link:not(.in-linl):not(:nth-child(4)):hover {
  text-decoration: none;
  border-left: 2px solid #eb1506;
  border-bottom: 2px solid #eb1506;
}
.button {
}
.buttom__linl-left {
}
.buttom__linl-right {
}
